# path:   /home/klassiker/.local/share/repos/shell/aur_pkgstats.timer
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/shell
# date:   2024-04-29T09:50:41+0200

[Unit]
Description=run aur_pkgstats.service monthly

[Timer]
OnCalendar=*-*-02 14:14:00
AccuracySec=1m

[Install]
WantedBy=timers.target
