# path:   /home/klassiker/.local/share/repos/shell/speed_test.timer
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/shell
# date:   2024-04-21T21:52:20+0200

[Unit]
Description=run speed_test.service a few times a day

[Timer]
OnCalendar=8,20..23:37:00
AccuracySec=1m

[Install]
WantedBy=timers.target
