# path:   /home/klassiker/.local/share/repos/shell/speed_test.service
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/shell
# date:   2024-04-16T12:32:23+0200

[Unit]
Description=processing speed test in user context

[Service]
Type=oneshot
ExecStart=%h/.local/share/repos/shell/speed_test.sh

[Install]
WantedBy=multi-user.target
