# path:   /home/klassiker/.local/share/repos/shell/speed_test.timer
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/shell
# date:   2024-04-16T12:25:22+0200

[Unit]
Description=run speed_test.service twice a day

[Timer]
OnCalendar=10,22:00:00
AccuracySec=1m

[Install]
WantedBy=timers.target
