# path:   /home/klassiker/Projects/repos/shell/systemd/aurbuild.service
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/shell
# date:   2026-07-16T04:52:16+0200

[Unit]
Description=updating repository aurbuild in user context

[Service]
Type=oneshot
StandardOutput=truncate:/srv/pkgs/aurbuild.log
StandardError=truncate:/srv/pkgs/aurbuild_error.log
ExecStart=%h/Projects/repos/shell/aurbuild.sh

[Install]
WantedBy=multi-user.target
