# path:   /home/klassiker/.local/share/repos/shell/systemd/aurbuild.service
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/shell
# date:   2024-04-30T08:26:58+0200

[Unit]
Description=updating repository aurbuild in user context

[Service]
Type=oneshot
ExecStart=%h/.local/share/repos/shell/aurbuild.sh

[Install]
WantedBy=multi-user.target
