# path:   /home/klassiker/.local/share/repos/shell/systemd/aurbuild.service
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/shell
# date:   2026-04-03T04:36:34+0200

[Unit]
Description=updating repository aurbuild in user context

[Service]
Type=oneshot
StandardOutput=truncate:/srv/pkgs/aurbuild.log
StandardError=truncate:/srv/pkgs/aurbuild_error.log
ExecStart=%h/.local/share/repos/shell/aurbuild.sh

[Install]
WantedBy=multi-user.target
