# path:   /home/klassiker/.local/share/repos/shell/systemd/aurbuild.timer
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/shell
# date:   2024-04-30T08:27:10+0200

[Unit]
Description=run aurbuild.service daily

[Timer]
OnCalendar=2:02:00
AccuracySec=1m

[Install]
WantedBy=timers.target
