# path:   /home/klassiker/.local/share/repos/shell/systemd/aurbuild.timer
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/shell
# date:   2025-08-11T04:52:17+0200

[Unit]
Description=run aurbuild.service daily

[Timer]
OnCalendar=2:02:00

[Install]
WantedBy=timers.target
