# path:   /home/klassiker/.local/share/repos/shell/systemd/dynv6.timer
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/shell
# date:   2025-08-11T04:52:24+0200

[Unit]
Description=run dynv6.service every quarter hour

[Timer]
OnCalendar=*:1/15

[Install]
WantedBy=timers.target
