# path:   /home/klassiker/.local/share/repos/shell/systemd/dynv6.service
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/shell
# date:   2025-08-11T04:52:20+0200

[Unit]
Description=updating dynv6 hostnames in user context

[Service]
Type=oneshot
ExecStart=%h/.local/share/repos/shell/dynv6.sh

[Install]
WantedBy=multi-user.target
