# path:   /home/klassiker/Projects/repos/shell/systemd/dynv6.timer
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/shell
# date:   2026-09-09T06:31:01+0200

[Unit]
Description=run dynv6.service every quarter hour

[Timer]
OnCalendar=*:3/15

[Install]
WantedBy=timers.target
