# path:   /home/klassiker/.local/share/repos/shell/systemd/pkgstats.service
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/shell
# date:   2025-08-11T04:52:27+0200

[Unit]
Description=updating pkgstats in user context

[Service]
Type=oneshot
ExecStart=%h/.local/share/repos/shell/pkgstats.sh cinfo rustymeter rxvt-unicode-truecolor-wide-glyphs
Restart=on-failure
RestartSec=24h

[Install]
WantedBy=multi-user.target
