# path:   /home/klassiker/.local/share/repos/shell/systemd/pkgstats.timer
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/shell
# date:   2025-08-11T04:52:30+0200

[Unit]
Description=run pkgstats.service monthly

[Timer]
OnCalendar=*-*-02 01:01:00
Persistent=true

[Install]
WantedBy=timers.target
