# path:   /home/klassiker/.local/share/repos/shell/systemd/speedtest.service
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/shell
# date:   2024-04-30T08:27:21+0200

[Unit]
Description=processing speed test in user context

[Service]
Type=oneshot
ExecStart=%h/.local/share/repos/shell/speedtest.sh

[Install]
WantedBy=multi-user.target
