# path:   /home/klassiker/.local/share/repos/shell/systemd/speedtest.timer
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/shell
# date:   2025-02-21T12:41:12+0100

[Unit]
Description=run speed_test.service a few times a day

[Timer]
OnCalendar=20..23:37:00

[Install]
WantedBy=timers.target
