# path:   /home/klassiker/.local/share/repos/shell/systemd/test_broadband.service
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/shell
# date:   2025-04-23T05:57:50+0200

[Unit]
Description=processing broadband test in user context

[Service]
Type=oneshot
ExecStart=%h/.local/share/repos/shell/test_broadband.sh --secure

[Install]
WantedBy=multi-user.target
