# path:   /home/klassiker/.local/share/repos/shell/systemd/test_broadband.service
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/shell
# date:   2025-08-11T04:52:34+0200

[Unit]
Description=processing broadband test in user context

[Service]
Type=oneshot
ExecStart=%h/.local/share/repos/shell/test_broadband.sh --secure

[Install]
WantedBy=multi-user.target
