# path:   /home/klassiker/Projects/repos/shell/systemd/test_broadband.service
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/shell
# date:   2026-07-16T04:52:43+0200

[Unit]
Description=processing broadband test in user context

[Service]
Type=oneshot
ExecStart=%h/Projects/repos/shell/test_broadband.sh --secure

[Install]
WantedBy=multi-user.target
