# path:   /home/klassiker/Projects/repos/shell/systemd/test_broadband.timer
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/shell
# date:   2026-07-16T04:52:46+0200

[Unit]
Description=run test_broadband.service a few times a day

[Timer]
OnCalendar=20..23:37:00

[Install]
WantedBy=timers.target
